# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Build
build/
dist/

# Runtime data (created by the app; contains local paths / email creds)
config.json
output/
models/
downloads/

# OS / editor
Thumbs.db
Desktop.ini
.vscode/
.idea/

# Logs
*.log
